.statItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-radius: 4px;
  transition: background-color 150ms;
}

.statItem:hover {
  background-color: var(--mantine-color-gray-1);
}

.statItem:global([data-color-scheme='dark']):hover {
  background-color: var(--mantine-color-dark-5);
}

.statLabel {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 13px;
  color: var(--mantine-color-gray-8);
}

.statLabel:global([data-color-scheme='dark']) {
  color: var(--mantine-color-gray-2);
}

.statValue {
  font-size: 13px;
  font-weight: 600;
  color: var(--mantine-color-gray-9);
}

.statValue:global([data-color-scheme='dark']) {
  color: var(--mantine-color-gray-0);
}
